/* Analysis Report CSS*/

.text-racing {
    color: white;
}

.analysis-content {
    color: white;
}

.error {
    color: white;
}

.text-white {
    color: white;
  }
  
  .filename {
    font-weight: bold;
    color: white;
  }
  
  .file-status {
    margin-top: 10px;
    font-size: 14px;
    font-weight: normal;
  }

  .plot-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin-top: 20px;
  }
  
  .llm-response {
    color: #fff;
  }
  
  .llm-response-content h3 {
    margin-bottom: 10px;
    color: #fff;
    font-size: 1.5em;
  }
